.container {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.ocean {
  width: 100vw;
  height: 300vh;
  background: linear-gradient(#bbe1fa, #3282b8, #0f4c75, #1b262c);
  animation: ocean 20s ease infinite;
  cursor: none;
  top: 300px;
}

@keyframes ocean {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.img-whale {
  /* position: absolute; */
  z-index: 2;
  width: 200px;
  /* animation: whale 5s ease infinite; */
}

@keyframes whale {
  0% {
    transform: translate(0%, 0%) scaleX(-1);
  }
  100% {
    transform: translate(200%, 200%) scaleX(-1);
  }
  /* 10% {
    transform: translate(10px, 50px) scaleX(-1);
  }
  20% {
    transform: translate(100px, 50px) scaleX(-1);
  }
  30% {
    transform: translate(100px, 50px) rotate(0deg) scaleX(-1);
  }
  40% {
    transform: translate(100px, 50px) rotate(360deg) scaleX(-1);
  }
  70% {
    transform: translate(1000px, 1000px) scaleX(-1);
  }
  100% {
    transform: translate(10px, 10px) scaleX(-1);
  } */
}
